<!DOCTYPE html>
<!-- Use Block__Element--Modifier -->
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport"
			content="width=device-width" />
		<title>@ViewBag.Title</title>
		<environment include="Development">
			@RenderSection("Style", required: true)
		</environment>
		<link rel="icon" type="image/svg+xml" href="~/images/favicon.svg">
		<script src="https://kit.fontawesome.com/df3d0cc377.js"
			crossorigin="anonymous"></script>
	</head>
	<body>
		<header id="page-header">
			<a href="/Home" class="logo" id="logo-container">
				<div class="logo">
					<img src="~/images/temp-logo.svg"
						class="logo"
						id="logo-container__img"						
						alt="Juan Gallardo's logo" />
				</div>
			</a><!-- End of logo -->
			<a href="github.com/Juan-G-04"
				id="github"				
				class="quicklink">
				<i class="fab fa-github-alt"></i>
			</a>

			<a href="https://www.linkedin.com/in/jgallardo-dev"
				id="linkedin"
				class="quicklink">			
				<i class="fab fa-linkedin"></i>
			</a>			

			<h1 id="juan">Juan Gallardo</h1>

			<ul id="nav" role="navigation">
				<a id="projects" href="/Projects" class="nav__item"><li>Projects</li></a>
				<a id="resume" href="/Resume"class="nav__item"><li>Resume</li></a>
				<a id="contact" href="/Contact"class="nav__item"><li>Contact</li></a>
				<a id="about" href="/About"class="nav__item"><li>About</li></a>
			</ul>
		</header>
		<main id="page-main">
			@RenderBody()
		</main>
	</body>
</html>
