@using System.ComponentModel.DataAnnotations
@using System.Reflection

@model Portfolio.Models.Projects.Project

<!-- Partial view to display project info. -->
<article class="project">
	<h2 class="project-name">
		@Model.Name
		<hr>
	</h2>

	<h3>@Model.Description</h3>

	<img 
	class="thumbnail"
	src=@Model.ImageUrl
	alt="Project home page"
	title="Click to expand image">	

	<h3><a href=#>More</a></h3>
	<h4><a href=@Model.SourceCodeUrl>Source code</a></h4>
	<h4><a href=@Model.LiveUrl>Live</a></h4>
</article>