@using Portfolio.Models
@using System.Linq
@using System.ComponentModel.DataAnnotations
@using System.Reflection
@model ProjectsListViewModel

<!-- Content section of the Home/Projects page.
	Displays all projects.
	Shows option to filter projects
	by selecting tags -->

<section id="projects">
	<h1>All Projects</h1>

	<hr>

	<article id="featured">
		<h3>Featured Projects</h3>
		<hr>
		<ul id="projects-featured">
			@{foreach (var project in Model.Projects.Where(p => p.Featured))
			{
				DisplayProject(project);
			}}
		</ul>
	</article>

	<article id="others">
		<h3>Other Projects</h3>
		<hr>
		<ul id="projects-others">
			@{foreach (var project in Model.Projects.Where(p => !p.Featured))
			{
				DisplayProject(project);
			}}
		</ul>
	</article>
</section>

@{
	// Helper method to display project info.
	void DisplayProject(Project p)
	{
		<li><div class="project-card">
			<h2>@p.Name</h2>
			<h3>@p.Description</h3>
			<h4><a href=@p.GithubUrl>Github</a></h4>
			<h4><a href=@p.LiveUrl>Live</a></h4>
			<h4>Tags:</h4>
			<ul>
				@foreach(var tag in p.Tags)
				{
				<li>@(tag
							.GetType()
							.GetMember(tag.ToString())
							.First()
							.GetCustomAttribute<DisplayAttribute>()
							.GetName())</li>
				}
			</ul>
		</div></li>
	}
}
