@section Style {
	<link rel="stylesheet"
		href="/css/shared.css" />
	<link rel="stylesheet"
		href="/css/pages/resume.css" />
}

<!-- Content section of the Resume page.
	Displays my resume. Always up to date.
	And has options to download as pdf, 
	or Microsoft Office Word document. -->

<article id="resume-container">
	<header id="resume__header">
		<h1 id="name">Juan Gallardo</h1>
		<div id="contact-details">
			<div id="website">website: <a href="www.jgallardo.dev">jgallardo.dev</a></div>
			<div id="email">email: <a href="mailto:juan.gallardo.ab@gmail">juan.gallardo.ab@gmail.com</a></div>
			<div id="number">phone #: <a href="tel:+17808629404">(780) - 862 - 9404</a></div>
			<div id="location">Edmonton, AB, Canada</div>
		</div>
	</header>

	<br>
	<hr id="main-separator">
	<br>

	<main>
		<section id="skills">
			<section id="languages">
				<h1>Programming Languages</h1>
				<ul>
					<li>Java</li>
					<li>Python</li>
					<li>C#</li>
					<li>html</li>
					<li>css</li>
				</ul>
			</section>
			
			<section id="key-skills">
				<h1>Key Skills</h1>
				<ul>
					<li>Databases</li>
				</ul>
			</section>
		
			<section id="frameworks">
				<h1>Tools and Frameworks</h1>
				<ul>
					<li>ASP.NET Core MVC</li>
					<li>Object Oriented Programming</li>
					<li>Git</li>
				</ul>
			</section>
		</section><!-- End of #skills -->
		
		<section id="projects">
		</section>
		<section id="personal">
		</section>
	</main>
</article>
