@using System.Linq
@using Portfolio.Models.Projects

@model IEnumerable<Project>;

@section Style {
	<link rel="stylesheet"
		href="/css/shared.css" />
	<link rel="stylesheet"
		href="/css/pages/projects.css" />
}

<!-- Content section of the Home/Projects page.
Displays all projects.
Shows option to filter projects
by selecting tags -->

<div class="page-title">
	<h1>All Projects</h1>
</div>

<section id="featured">
	<h3 class="section-title">Featured Projects</h3>
	<section class="project-grid">
		@foreach (var project in Model.Where(p => p.Featured))
		{
			<partial name="_ProjectCard" model="project" />
		}
	</section>
</section>

<section id="others">
	<h3 class="section-title">Other Projects</h3>
	<section class="project-grid">
		@foreach (var project in Model.Where(p => !p.Featured))
		{
			<partial name="_ProjectCard" model='project' />
		}	
	</section>
</section>