@using Portfolio.Models
@using System.Linq
@using System.ComponentModel.DataAnnotations
@using System.Reflection
@model ProjectsListViewModel

<!-- Content section of the Home/Projects page.
	Displays all projects.
	Shows option to filter projects
	by selecting tags -->

<div id="projects">
	<h1>All Projects</h1>
	<hr>
	<h3>Featured Projects</h3>
	<hr>
	<section id="featured">
			@{foreach (var project in Model.Projects.Where(p => p.Featured))
			{
				DisplayProject(project);
			}}
	</section>

	<h3>Other Projects</h3>
	<hr>
	<section id="others">
		@{foreach (var project in Model.Projects.Where(p => !p.Featured))
		{
			DisplayProject(project);
		}}		
	</section>
</div><!-- end of #projects -->

@{
	// Helper method to display project info.
	void DisplayProject(Project p)
	{
		<article class="project">
			<h2>@p.Name</h2>
			<h3>@p.Description</h3>
			<h3><a href=#>More</a></h3>
			<h4><a href=@p.GithubUrl>Github</a></h4>
			<h4><a href=@p.LiveUrl>Live</a></h4>
			<div class="tags">
				<h4>Tags:</h4>
				<ul>
					@foreach(var tag in p.Tags)
					{
						<li>@(tag
								.GetType()
								.GetMember(tag.ToString())
								.First()
								.GetCustomAttribute<DisplayAttribute>()
								.GetName())</li>
					}
				</ul>
			</div>
		</article>
	}
}
