@model ContactViewModel

@section Style {
	<link rel="stylesheet"
		href="/css/shared.css" />
}

<!-- Content section of the Contact page.
	Displays contact info and a simple
	email form -->

<section id="contact">
	<div id="contact__details">
		<h1>Contact Details:</h1>
		<h2><address>Email address: @Model.ContactDetails["Email"]</address></h2>
		<h2>Phone number: @Model.ContactDetails["Number"]</h2>
	</div>

	<form id="contact-form">
		<input name="name" class="contact-form__field" type="text" />
		<br>
		<input name="email-address" class="contact-form__field" type="text" />
		<br>
		<textarea name="message" rows="7" columns="30" class="contact-form__field" type="text">Your message</textarea>
		<input id="contact-form__submit-button" type="submit" value="Send" />
	</form>
</section>
