@section Style {
	<link rel="stylesheet"
		href="/css/_shared.css" />
	<link rel="stylesheet"
		href="/css/pages/contact.css" />
}

<!-- Content section of the Contact page.
	Displays contact info and a simple
	email form -->

<ul id="contact__details">
	<li	>
		<i class="fa fa-envelope-open-o" aria-hidden="true"></i>

		<a class="link"	
		title="Click to reveal email address at mailhide.io"	
		target="_blank"
		href="https://mailhide.io/e/IXuXm">
			j...@@gmail.com
			<i class="fa fa-external-link" aria-hidden="true"></i> 
		</a>
	</li>
	
	<li >	
		<i class="fa fa-phone" aria-hidden="true"></i>

		<a class="link"	
		title="Phone number"	
		href="tel:+1-780-862-9404">+1-780-862-9404</a>
	</li>
</ul>
