@section Style {
	<link rel="stylesheet"
		href="/css/_shared.css" />
	<link rel="stylesheet"
		href="/css/pages/contact.css" />
}

<!-- Content section of the Contact page.
	Displays contact info and a simple
	email form -->

<section id="contact__details">
	<p>Email: </p>
	<a target="_blank" href="https://mailhide.io/e/IXuXm" class="link">
		j...@@gmail.com <i class="fa fa-external-link" aria-hidden="true"></i> 
	</a> 
</section>
