#projects {
	background-color: var(--selectedBg);
	color: var(--selectedColor);
	text-transform: uppercase;
}

.project {
	display: grid;
	padding: 0.5em;
}

.project-name {
	justify-self: center;
	width: max-content;
	text-align: center;
}

.project-name hr {
	background-color: var(--highlight);
	height: 3px;
	border: none;
	margin: auto;
	margin-bottom: 1em;
	width: 75%;	
}