#page-main {
	padding: 0 2vmax;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 4vmax 1fr 1fr;
	grid-gap: 2vmax;
	place-items: stretch;
}

.project-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));
	grid-gap: 2vmax;
	align-items: center;
}

.section-title {
	font-size: x-large;
	font-family: Philosopher;
	color: var(--gray);
}

#featured {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}

#others {
	grid-column: 1 / 2;
	grid-row: 3 / 4;
}

.project {
	background: white;
	padding: 20px;
	border-radius: 15px;
}
