#projects {
	background-color: var(--selectedBg);
	color: var(--selectedColor);
	text-transform: uppercase;
}

.project {
	display: grid;
	grid-template-columns: 1fr auto;
	padding: 0.5em;
}

.project-name {
	grid-column: 1;
	justify-self: center;
	width: max-content;
	text-align: center;
}

.project-name hr {
	background-color: var(--highlight);
	height: 3px;
	border: none;
	margin: auto;
	margin-bottom: 1em;
	width: 75%;	
}

.thumbnail {
	grid-column: 2;
	grid-row: 1 / 7;
	justify-self: right;
	width: 15vw;
	padding: 1em;
	height: auto;
}

.thumbnail:hover {
	cursor: zoom-in; 
}