#resume {
	cursor: pointer;
	background: var(--highlight);
	color: var(--bg);
	border-radius: 1em;
}

#resume-container {
	background-color: white;
	color: black;
	padding: 1em;
}

#resume-header {
	display: grid;
	grid-template-columns: auto auto;
}

#contact-details {
	text-align: right;
}

hr {
	width: 80vw;
}