@import url('https://fonts.googleapis.com/css?family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');

/* Color scheme */
:root {
	--bg-color: #121C26; /* Blue */
	--bg-accent-color: #C24545; /* Red */
	--fg-color: #EECD7B; /* Yellow */
	--accent-color: #E67649; /* Orange */
}

body {
	margin: 0 auto;
	padding: 10px;
	color: var(--fg-color);
	background-color: var(--bg-color);
}

#nav a {
	text-transform: uppercase;
	text-decoration: none;
	color: var(--bg-color);
	border: solid var(--bg-accent-color);
	background-color: var(--bg-accent-color);
}

#nav a:hover {
	color: var(--fg-color);
	background-color: var(--bg-color);
}

/* Component styles */
header {
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: center;
	align-content: center;
	align-items: center;
	font-family: Philosopher, serif;
	font-size: xx-large;
}

#nav {
	font-family: Philosopher, serif;
	font-size: x-large;
	text-align: center;
	display: grid;
}

#content {
	display: grid;
	font-size: large;
}

/* For narrow viewports */
@media (max-width: 700px) {
	#nav {
		min-height: 40px;
	}
}

/* For wider viewports */
@media (min-width: 701px) {
	#nav {
		grid-template-columns: repeat(4, minmax(150px, 1fr));
	}
}
