<!DOCTYPE html>
<!-- Use Block__Element-Modifier -->
<html>
	<head>
		<title>@ViewBag.Title</title>
		<meta name="viewport"
			content="width=device-width" />
		<environment names="Development">
		<link rel="stylesheet"
			href="~/css/main-style.css" />
		<script src="https://kit.fontawesome.com/df3d0cc377.js"
			crossorigin="anonymous"></script>
	</head>
	<body>
	</body>
</html>
