@section Style {
	<link rel="stylesheet"
		href="/css/_shared.css" />
	<link rel="stylesheet"
		href="/css/pages/home.css" />
}

<section id="blurb">
	<p class="blurb-section">I'm a full-stack web developer based in Edmonton, Alberta.</p>
</section>