@import "base/_reset.css";
@import "base/_colors.css";
@import "base/_hyperlinks.css";
@import "base/_fonts.css";

/* Layout */
body {
	padding: 0;
	margin: 0;
	width: 100vw;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 8vmax 1fr;
	place-items: center;
}

#page-header {
	height: inherit;
	width: inherit;
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	display: grid;
	grid-template-columns: 4vmax 4vmax 1fr 1fr 4vmax 4vmax;
	grid-template-rows: 4vmax 4vmax;
	grid-column-gap: 1vw;
	place-items: center;
}

#logo-container {
	place-self: stretch;
	height: 100%;
	width: 100%;
	grid-column: 1 / 3;
	grid-row: 1 / 3;
	margin: 0;
	padding: 0;
	border-bottom-right-radius: 15px;	
	display:grid;
	place-items: center;
}

#linkedin {
	grid-column: 6 / 7;
	grid-row: 1 / 2;
}

#github {
	grid-column: 5 / 6;
	grid-row: 1 / 2;
}

#nav {
	grid-column: 4 / 5;
	grid-row: 2 / 3;
	grid-template-columns: repeat(4, 1fr);
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;
}

#nav a {
	display: block;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

#juan {
	margin: 0;
	padding: 0;
}

#page-main {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}

/* Narrow */
@media (max-aspect-ratio: 421 / 500) {
	/* Span top */
	#juan {
		grid-column: 3 / 5;
		grid-row: 1 / 3;
		font-size: 6vmin;
	}

	#nav {
		grid-column: 3 / 5;
	}
}

/* Wide */
@media (min-aspect-ratio: 422 / 500) {
	/* Top left */
	#juan {
		grid-column: 3 / 4;
		grid-row: 1 / 3;
		font-size: 4vmin;
	}
}

.logo {
	width: 4vmax;
}

.quicklink {
	font-size: 3vmax;
}

/* Fonts */
main {
	font-size: large;
}

#juan {
	text-align: center;
	font-size: 4vmax;
	place-self: stretch;
}

#nav {
	text-transform: uppercase;
	text-decoration: none;
	font-family: Philosopher, serif;
	font-size: x-large;
	text-align: center;
	line-height: 4vmax;
}

#nav a {
	text-align: center;
}

/* Animations */
.quicklink, #logo-container {
	transition: 0.3s;
}

.quicklink:link {
	color: var(--gray);
}

.quicklink:hover {
	color: var(--blue);
}

#logo-container:link {
	background-color: var(--gray);
}

#logo-container:hover {
	background-color: var(--blue);
}

/* Colors */
#juan {
	color: var(--gray);
}

#nav {
	color: var(--blue);
	background-color: var(--gray);
}

#nav a:hover {
	color: var(--gray);
	background-color: var(--blue);
}

/* Background */
body {
	background: url(/images/night-ped.jpg);
	background-size: cover;
}
