@import "reset.css";
@import "hyperlinks.css";

@import url('https://fonts.googleapis.com/css?family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');

/* Color scheme */
:root {
	--bg-color: #121C26; /* Blue */
	--bg-accent-color: #C24545; /* Red */
	--fg-color: #EECD7B; /* Yellow */
	--accent-color: #E67649; /* Orange */
}

/* Layout */
body {
	padding: 10px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
	place-items: stretch;
}

	header {
		grid-column: 1 / 1;
		grid-row: 1 / 2;
		display: grid;
		grid-template-columns: 1fr 1fr 0.5fr 0.5fr;
		grid-template-rows: 1fr auto;
		height: 100%;
		width: 100%;
		place-items: center;
	}
		#logo {
			grid-column: 2 / 3;
			grid-row: 1 / 2;
			padding: 1vmin;
			width: 4vmax;
		}
		#juan {
			grid-column: 1 / 2;
			grid-row: 2 / 3;
		}
		#nav {
			grid-column: 2 / 3;
		grid-row: 2 / 3;
		display: grid;
		}
		#gh {
			grid-column: 4 / 5;
			grid-row: 2 / 3;
		}
		#li {
			grid-column: 3 / 4;
			grid-row: 2 / 3;
		}		

	main {
		display: grid;
		padding: 1vmax 0 0 0;
	}







/* For narrow viewports */
@media (max-width: 700px) {
	#nav {
		min-height: 40px;
	}
}

/* For wider viewports */
@media (min-width: 701px) {
	#nav {
		grid-template-columns: repeat(4, minmax(150px, 1fr));
	}
}

/* Fonts */

main {
	font-size: large;
}

body {
	font-family: Philosopher, serif;
	font-size: xx-large;
	background-color: var(--bg-color);
	text-align: center;
	color: var(--fg-color);
}

#nav a {
	text-transform: uppercase;
	text-decoration: none;
	color: var(--bg-color);
	border: solid var(--bg-accent-color);
	background-color: var(--bg-accent-color);
}

nav {
font-family: Philosopher, serif;
	font-size: x-large;
	text-align: center;
}

/* Colors */

#nav a:hover {
	color: var(--fg-color);
	background-color: var(--bg-color);
}

/* Logo sizing */

#svg-logo {
	width: inherit;
}

#logo a {
	width: inherit;
}
